<div class="row">
  <div class="col s12 m12 l8">
    <% if params[:title].present? %>
      <h3>Results for <%= params[:title] %>:</h3>
    <% else %>
      <h3>Popular Movies</h3>
    <% end %>
    <% if @api_error %>
      <div>Sorry, we couldn't find any movies, please try again later.</div>
    <% else %>
      <div class="collection">
        <% @movies.each do |m| %>
          <%= link_to(m[:title], movie_path(m[:id]), class: "collection-item") %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col s12 m12 l4">
    <h3>Search movies by title:</h3>
    <form action="<%= root_path %>" method="get">
      <input name="title" placeholder="Citizen Kane" type="text"/><input value="Search " class="btn" type="submit"></input>
    </form>
  </div>
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Error</h4>
    <p>Sorry, we couldn't find that movie.</p>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
  </div>
</div>
<% if flash[:error] == "true" %>
  <script>
    $(document).ready(function(){
      $('#modal1').openModal();
    });
  </script>
<% end %>
